n8n_naver_sa_webhook.json
{
  "name": "네이버 SA 검색광고 API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "naver-sa-campaigns",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst startDate = query.start || new Date(Date.now() - 30*24*60*60*1000).toISOString().split('T')[0];\nconst endDate = query.end || new Date().toISOString().split('T')[0];\nconst timestamp = Date.now().toString();\nconst signMessage = timestamp + '.GET./ncc/campaigns';\n\nreturn [{ json: { timestamp, signMessage, startDate, endDate } }];"
      },
      "id": "code-prep-1",
      "name": "캠페인 서명메시지",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "action": "sign",
        "value": "={{ $json.signMessage }}",
        "algorithm": "SHA256",
        "encoding": "base64",
        "privateKey": "AQAAAADs4pHABp1EADv1Q70fvZfwvJldLtDvgcQCXNQGBPZfWA=="
      },
      "id": "crypto-1",
      "name": "HMAC 서명 (캠페인)",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.searchad.naver.com/ncc/campaigns",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json; charset=UTF-8" },
            { "name": "X-Timestamp", "value": "={{ $('캠페인 서명메시지').first().json.timestamp }}" },
            { "name": "X-API-KEY", "value": "0100000000ece291c0069d44003bf543bd1fbd97f044c45238dba9cb78a1fb35043e93849c" },
            { "name": "X-Customer", "value": "3303451" },
            { "name": "X-Signature", "value": "={{ $json.data }}" }
          ]
        },
        "options": {}
      },
      "id": "http-campaigns",
      "name": "네이버 캠페인 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "jsCode": "const campaigns = $input.first().json;\nconst campaignList = Array.isArray(campaigns) ? campaigns : [];\n\nconst startDate = $('캠페인 서명메시지').first().json.startDate;\nconst endDate = $('캠페인 서명메시지').first().json.endDate;\n\nconst campaignIds = campaignList.map(c => c.nccCampaignId);\nconst campaignMap = {};\ncampaignList.forEach(c => { campaignMap[c.nccCampaignId] = c; });\n\nconst timestamp = Date.now().toString();\nconst signMessage = timestamp + '.GET./stats';\n\nreturn [{ json: { timestamp, signMessage, campaignIds, campaignMap, startDate, endDate } }];"
      },
      "id": "code-prep-2",
      "name": "Stats 서명메시지",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "action": "sign",
        "value": "={{ $json.signMessage }}",
        "algorithm": "SHA256",
        "encoding": "base64",
        "privateKey": "AQAAAADs4pHABp1EADv1Q70fvZfwvJldLtDvgcQCXNQGBPZfWA=="
      },
      "id": "crypto-2",
      "name": "HMAC 서명 (Stats)",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.searchad.naver.com/stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json; charset=UTF-8" },
            { "name": "X-Timestamp", "value": "={{ $('Stats 서명메시지').first().json.timestamp }}" },
            { "name": "X-API-KEY", "value": "0100000000ece291c0069d44003bf543bd1fbd97f044c45238dba9cb78a1fb35043e93849c" },
            { "name": "X-Customer", "value": "3303451" },
            { "name": "X-Signature", "value": "={{ $json.data }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "ids", "value": "={{ $('Stats 서명메시지').first().json.campaignIds }}" },
            { "name": "fields", "value": "[\"impCnt\",\"clkCnt\",\"salesAmt\",\"ctr\",\"cpc\",\"ccnt\",\"convAmt\"]" },
            { "name": "timeRange", "value": "={{ JSON.stringify({since: $('Stats 서명메시지').first().json.startDate, until: $('Stats 서명메시지').first().json.endDate}) }}" }
          ]
        },
        "options": {}
      },
      "id": "http-stats",
      "name": "네이버 Stats 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "jsCode": "const campaignMap = $('Stats 서명메시지').first().json.campaignMap;\nconst statsRaw = $input.first().json;\nconst statsData = statsRaw.data || (Array.isArray(statsRaw) ? statsRaw : []);\n\nconst output = statsData.map(s => {\n  const camp = campaignMap[s.id] || {};\n  return {\n    id: s.id,\n    name: camp.name || '',\n    type: camp.campaignTp || '',\n    account: 'SA',\n    status: camp.status || '',\n    impressions: s.impCnt || 0,\n    clicks: s.clkCnt || 0,\n    cost: s.salesAmt || 0,\n    ctr: s.ctr || 0,\n    cpc: s.cpc || 0,\n    conversions: s.ccnt || 0,\n    convValue: s.convAmt || 0,\n    purchaseCount: 0,\n    purchaseAmount: 0,\n    cartCount: 0\n  };\n});\n\nreturn [{ json: output }];"
      },
      "id": "code-final",
      "name": "데이터 조합",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "응답 반환",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1800, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "캠페인 서명메시지", "type": "main", "index": 0 }]] },
    "캠페인 서명메시지": { "main": [[{ "node": "HMAC 서명 (캠페인)", "type": "main", "index": 0 }]] },
    "HMAC 서명 (캠페인)": { "main": [[{ "node": "네이버 캠페인 조회", "type": "main", "index": 0 }]] },
    "네이버 캠페인 조회": { "main": [[{ "node": "Stats 서명메시지", "type": "main", "index": 0 }]] },
    "Stats 서명메시지": { "main": [[{ "node": "HMAC 서명 (Stats)", "type": "main", "index": 0 }]] },
    "HMAC 서명 (Stats)": { "main": [[{ "node": "네이버 Stats 조회", "type": "main", "index": 0 }]] },
    "네이버 Stats 조회": { "main": [[{ "node": "데이터 조합", "type": "main", "index": 0 }]] },
    "데이터 조합": { "main": [[{ "node": "응답 반환", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
