n8n_naver_sa_webhook.json
{
  "name": "네이버 SA 검색광고 API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "naver-sa-campaigns",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-1",
      "name": "Webhook - 캠페인 조회",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// 네이버 검색광고 API HMAC-SHA256 서명 생성\nconst crypto = require('crypto');\n\nconst API_KEY = $env.NAVER_SA_API_KEY;\nconst SECRET_KEY = $env.NAVER_SA_SECRET_KEY;\nconst CUSTOMER_ID = $env.NAVER_SA_CUSTOMER_ID;\n\n// 쿼리 파라미터에서 기간 가져오기\nconst query = $input.first().json.query || {};\nconst startDate = query.start || new Date(Date.now() - 30*24*60*60*1000).toISOString().split('T')[0];\nconst endDate = query.end || new Date().toISOString().split('T')[0];\n\n// 서명 생성\nconst timestamp = Date.now().toString();\nconst method = 'GET';\nconst uri = '/ncc/campaigns';\nconst message = `${timestamp}.${method}.${uri}`;\nconst signature = crypto.createHmac('sha256', SECRET_KEY).update(message).digest('base64');\n\nreturn [{\n  json: {\n    timestamp,\n    signature,\n    apiKey: API_KEY,\n    customerId: CUSTOMER_ID,\n    startDate,\n    endDate,\n    uri\n  }\n}];"
      },
      "id": "code-sign-1",
      "name": "서명 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.searchad.naver.com{{ $json.uri }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json; charset=UTF-8" },
            { "name": "X-Timestamp", "value": "={{ $json.timestamp }}" },
            { "name": "X-API-KEY", "value": "={{ $json.apiKey }}" },
            { "name": "X-Customer", "value": "={{ $json.customerId }}" },
            { "name": "X-Signature", "value": "={{ $json.signature }}" }
          ]
        },
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "http-campaigns",
      "name": "네이버 API - 캠페인 목록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "// 캠페인 목록에서 성과 데이터 조회를 위한 서명 생성\nconst crypto = require('crypto');\n\nconst API_KEY = $env.NAVER_SA_API_KEY;\nconst SECRET_KEY = $env.NAVER_SA_SECRET_KEY;\nconst CUSTOMER_ID = $env.NAVER_SA_CUSTOMER_ID;\n\n// 이전 노드에서 캠페인 목록 가져오기\nconst campaigns = $input.first().json.body || $input.first().json;\nconst campaignList = Array.isArray(campaigns) ? campaigns : [];\n\n// 이전 서명 노드에서 기간 정보 가져오기 (items[0]에서)\nconst prevData = $('서명 생성').first().json;\nconst startDate = prevData.startDate;\nconst endDate = prevData.endDate;\n\nconst campaignIds = campaignList.map(c => c.nccCampaignId);\nconst campaignMap = {};\ncampaignList.forEach(c => { campaignMap[c.nccCampaignId] = c; });\n\n// stats 호출용 서명\nconst timestamp = Date.now().toString();\nconst method = 'GET';\nconst uri = '/stats';\nconst message = `${timestamp}.${method}.${uri}`;\nconst signature = crypto.createHmac('sha256', SECRET_KEY).update(message).digest('base64');\n\nreturn [{\n  json: {\n    timestamp,\n    signature,\n    apiKey: API_KEY,\n    customerId: CUSTOMER_ID,\n    campaignIds,\n    campaignMap,\n    startDate,\n    endDate\n  }\n}];"
      },
      "id": "code-sign-2",
      "name": "Stats 서명 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.searchad.naver.com/stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json; charset=UTF-8" },
            { "name": "X-Timestamp", "value": "={{ $json.timestamp }}" },
            { "name": "X-API-KEY", "value": "={{ $json.apiKey }}" },
            { "name": "X-Customer", "value": "={{ $json.customerId }}" },
            { "name": "X-Signature", "value": "={{ $json.signature }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "ids", "value": "={{ $json.campaignIds.join(',') }}" },
            { "name": "fields", "value": "[\"impCnt\",\"clkCnt\",\"salesAmt\",\"ctr\",\"cpc\",\"ccnt\",\"convAmt\",\"crto\"]" },
            { "name": "timeRange", "value": "={\"since\":\"{{ $json.startDate }}\",\"until\":\"{{ $json.endDate }}\"}" }
          ]
        },
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "http-stats",
      "name": "네이버 API - 성과 데이터",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "jsCode": "// 캠페인 목록 + 성과 데이터 조합하여 최종 응답 생성\nconst prevData = $('Stats 서명 생성').first().json;\nconst campaignMap = prevData.campaignMap;\n\nconst statsResponse = $input.first().json.body || $input.first().json;\nconst statsData = statsResponse.data || (Array.isArray(statsResponse) ? statsResponse : []);\n\nconst output = statsData.map(s => {\n  const camp = campaignMap[s.id] || {};\n  return {\n    id: s.id,\n    name: camp.name || '',\n    type: camp.campaignTp || '',\n    account: 'SA',\n    status: camp.status || '',\n    impressions: s.impCnt || 0,\n    clicks: s.clkCnt || 0,\n    cost: s.salesAmt || 0,\n    ctr: s.ctr || 0,\n    cpc: s.cpc || 0,\n    conversions: s.ccnt || 0,\n    convValue: s.convAmt || 0,\n    purchaseCount: 0,\n    purchaseAmount: 0,\n    cartCount: 0\n  };\n});\n\nreturn [{ json: { campaigns: output } }];"
      },
      "id": "code-combine",
      "name": "데이터 조합",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.campaigns) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "응답 반환",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1520, 300]
    }
  ],
  "connections": {
    "Webhook - 캠페인 조회": {
      "main": [
        [{ "node": "서명 생성", "type": "main", "index": 0 }]
      ]
    },
    "서명 생성": {
      "main": [
        [{ "node": "네이버 API - 캠페인 목록", "type": "main", "index": 0 }]
      ]
    },
    "네이버 API - 캠페인 목록": {
      "main": [
        [{ "node": "Stats 서명 생성", "type": "main", "index": 0 }]
      ]
    },
    "Stats 서명 생성": {
      "main": [
        [{ "node": "네이버 API - 성과 데이터", "type": "main", "index": 0 }]
      ]
    },
    "네이버 API - 성과 데이터": {
      "main": [
        [{ "node": "데이터 조합", "type": "main", "index": 0 }]
      ]
    },
    "데이터 조합": {
      "main": [
        [{ "node": "응답 반환", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
